USE [CourseHubDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](3000) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Status] [varchar](45) NOT NULL,
	[IsCommentDisabled] [bit] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Duration] [int] NOT NULL,
	[QuestionCount] [int] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[GradeToPass] [float] NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [uniqueidentifier] NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[Amount] [bigint] NOT NULL,
	[Gateway] [varchar](20) NOT NULL,
	[TransactionId] [varchar](100) NOT NULL,
	[ClientTransactionId] [varchar](100) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[IsSuccessful] [bit] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Path] [varchar](255) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[IsLeaf] [bit] NOT NULL,
	[CourseCount] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentMedia]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentMedia](
	[CommentId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CommentMedia] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[SourceType] [nvarchar](max) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[LectureId] [uniqueidentifier] NULL,
	[ArticleId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationMembers]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMembers](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[LastVisit] [datetime2](7) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConversationMembers] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](45) NOT NULL,
	[IsPrivate] [bit] NOT NULL,
	[AvatarUrl] [nvarchar](255) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMeta]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMeta](
	[CourseId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CourseMeta] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseReviews]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseReviews](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CourseReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[MetaTitle] [varchar](255) NOT NULL,
	[ThumbUrl] [nvarchar](255) NOT NULL,
	[Intro] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountExpiry] [datetime2](7) NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Outcomes] [nvarchar](500) NOT NULL,
	[Requirements] [nvarchar](500) NOT NULL,
	[LectureCount] [tinyint] NOT NULL,
	[LearnerCount] [int] NOT NULL,
	[RatingCount] [int] NOT NULL,
	[TotalRating] [bigint] NOT NULL,
	[LeafCategoryId] [uniqueidentifier] NOT NULL,
	[InstructorId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[BillId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[AssignmentMilestones] [nvarchar](max) NOT NULL,
	[LectureMilestones] [nvarchar](max) NOT NULL,
	[SectionMilestones] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [uniqueidentifier] NOT NULL,
	[Intro] [nvarchar](500) NOT NULL,
	[Experience] [nvarchar](1000) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[Balance] [bigint] NOT NULL,
	[CourseCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LectureMaterial]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureMaterial](
	[LectureId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_LectureMaterial] PRIMARY KEY CLUSTERED 
(
	[LectureId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](3000) NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[IsPreviewable] [bit] NOT NULL,
 CONSTRAINT [PK_Lectures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqChoices]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqChoices](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[McqQuestionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_McqChoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqQuestions]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_McqQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqUserAnswer]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqUserAnswer](
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[MCQChoiceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_McqUserAnswer] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC,
	[MCQChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiverId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[SourceEntityId] [uniqueidentifier] NOT NULL,
	[Content] [varchar](10) NOT NULL,
	[SourceType] [nvarchar](max) NOT NULL,
	[ArticleId] [uniqueidentifier] NULL,
	[ChatMessageId] [uniqueidentifier] NULL,
	[CommentId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reactions] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[SourceEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [uniqueidentifier] NOT NULL,
	[Index] [tinyint] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[LectureCount] [tinyint] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Mark] [float] NOT NULL,
	[TimeSpentInSec] [int] NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[ArticleId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/7/2025 4:47:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](45) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](45) NOT NULL,
	[FullName] [nvarchar](45) NOT NULL,
	[MetaFullName] [varchar](45) NOT NULL,
	[AvatarUrl] [varchar](100) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[RefreshToken] [varchar](100) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[AccessFailedCount] [tinyint] NOT NULL,
	[LoginProvider] [varchar](100) NULL,
	[ProviderKey] [varchar](100) NULL,
	[Bio] [nvarchar](1000) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Phone] [varchar](45) NULL,
	[EnrollmentCount] [int] NOT NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[SystemBalance] [bigint] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230923015142_M1_InitDb', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230924155558_M2_Fix', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230924164124_M3_Fix', N'7.0.10')
GO
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'72930d6e-30a8-48d8-b8d0-130cd4f61ea1', N'Assignment #79', 30, 4, N'1c039d3e-acae-4445-6097-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'4cbd9f9c-55df-4752-a190-1c9daad20869', N'Assignment #38', 30, 3, N'e4a172d5-7ba2-4abd-6093-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'5519b20f-9f30-4a92-81e8-2b0fa1867c51', N'Assignment #4', 30, 0, N'fc495ebf-d6a8-4831-6094-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
GO
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'515ae820-4d3f-4d0f-a33e-3ef4d1396306', N'Pay for course', N'522d2265-0532-4142-8079-0aa7e9c7d3cb''s payment for course #69746c85-6109-4370-9334-1490cd2334b0', 6000000, N'VNPay', N'14129034', N'VNP14129034', N'', 1, CAST(N'2023-09-29T22:01:16.3566667' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb')
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'a138a1c0-6c56-4d58-8ee7-6d3e8d653e93', N'Pay for course', N'603d925c-147c-4d22-82cf-23633d1c4a80''s payment for course #76bf19f6-1221-4242-97bb-0355035a3389', 54000000, N'VNPay', N'14148808', N'VNP14148808', N'', 1, CAST(N'2023-10-19T21:14:36.8700000' AS DateTime2), N'603d925c-147c-4d22-82cf-23633d1c4a80')
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'bf31bd88-83b8-4c32-8465-98fb778b987a', N'Pay for course', N'bda2a548-450a-402e-a75a-9712bcc6fc31''s payment for course #a2d066b4-0935-4b5a-b651-4ea97ea41f69', 62000000, N'VNPay', N'14134608', N'VNP14134608', N'', 1, CAST(N'2023-10-06T14:31:35.5800000' AS DateTime2), N'bda2a548-450a-402e-a75a-9712bcc6fc31')
GO
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'd78b5017-1dac-4295-ba74-01a20b245ab6', N'639e0f76-1b43-4b4f-a56a-e9a08ce35e65_d78b5017-1dac-4295-ba74-01a20b245ab6', N'Economics', N'Learn about the principles of economics and how they apply to the real world.', 1, 3)
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'eccf3209-5133-4931-b12d-01e14011f0ae', N'602e0134-5533-43ec-a1d5-b133113550b3_eccf3209-5133-4931-b12d-01e14011f0ae', N'Marketing Analytics & Automation', N'Learn how to use data and automation to improve your marketing campaigns.', 1, 0)
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'c6fb9ff0-2f34-4a03-9d4e-08886d86bd95', N'43f77d00-c236-45ae-bc7d-c301368d3ddd_c6fb9ff0-2f34-4a03-9d4e-08886d86bd95', N'Entrepreneurship', N'Learn how to start and run your own business.', 1, 0)
GO
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'0bde0744-5235-4122-b86e-19407008a108', N'ní hảo', N'Delivered', N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', CAST(N'2023-10-03T16:58:04.7566667' AS DateTime2), CAST(N'2023-10-03T16:58:04.7566667' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'75408f57-50a5-4176-9632-1c3fbdb34147', N'Chào buổi trưa', N'Delivered', N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', CAST(N'2023-10-03T16:56:24.0333333' AS DateTime2), CAST(N'2023-10-03T16:56:24.0333333' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'9c3cfbd1-9c4e-4c5f-b579-21f486b9c1c4', N'Hi An', N'Delivered', N'ec7e3812-819b-40e6-a64a-ce8ca93504f4', CAST(N'2023-10-22T07:01:29.3800000' AS DateTime2), CAST(N'2023-10-22T07:01:29.3800000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[Comments] ([Id], [Content], [Status], [SourceType], [ParentId], [LectureId], [ArticleId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'7a3a5f73-3e2a-4120-8111-2f139a0ce10b', N'Bài giảng thật dễ hiểu!', N'None', N'Lecture', NULL, N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', NULL, CAST(N'2023-10-08T18:32:33.0866667' AS DateTime2), CAST(N'2023-10-08T18:32:33.0866667' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Comments] ([Id], [Content], [Status], [SourceType], [ParentId], [LectureId], [ArticleId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'a15d1a48-a21a-401e-af08-92061c3a66c9', N'Bài giảng quá ok!', N'None', N'Lecture', NULL, N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', NULL, CAST(N'2023-10-17T15:23:15.9700000' AS DateTime2), CAST(N'2023-10-17T15:23:15.9700000' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'820ef64f-8e25-4486-86e5-027d4fddb31d', N'22eb6b1d-3ea1-4c21-baeb-ede77c52b4e7', 0, CAST(N'2023-10-19T22:16:50.4792930' AS DateTime2), CAST(N'2023-10-19T22:16:50.5000000' AS DateTime2))
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', 0, CAST(N'2023-10-02T16:49:23.2460565' AS DateTime2), CAST(N'2023-10-02T16:49:23.4866667' AS DateTime2))
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'c854f4c3-981f-4120-aef8-86f5490a09bb', 0, CAST(N'2023-10-28T14:07:33.4522109' AS DateTime2), CAST(N'2023-10-28T14:07:33.5966667' AS DateTime2))
GO
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId]) VALUES (N'f2eb3e5c-a462-49b2-acd4-48c98b2135bb', N'', 1, N'', CAST(N'2023-10-09T20:15:44.7900000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb')
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId]) VALUES (N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', N'', 1, N'', CAST(N'2023-10-02T16:49:23.4100000' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79')
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId]) VALUES (N'c854f4c3-981f-4120-aef8-86f5490a09bb', N'', 1, N'', CAST(N'2023-10-28T14:07:33.5933333' AS DateTime2), N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0')
GO
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'5437e19d-d016-4c2a-d511-08dbc48644b2', N'Khóa học quá ok, rẻ mà chất lượng quá, mình học vài tuần đã làm được', 5, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-10-04T10:01:56.9300000' AS DateTime2), CAST(N'2023-10-04T10:01:56.9300000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'52f2b66b-43d9-4712-9c6d-08dbc6386323', N'Khóa học quá ok!', 4, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-10-06T13:49:28.7300000' AS DateTime2), CAST(N'2023-10-17T05:04:18.0816250' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'17caf6ad-dc6b-4a0b-0c5d-08dbd0b1d9f6', N'5/5 great course!', 5, N'76bf19f6-1221-4242-97bb-0355035a3389', CAST(N'2023-10-19T21:44:08.7933333' AS DateTime2), CAST(N'2023-10-19T14:56:35.6692183' AS DateTime2), N'603d925c-147c-4d22-82cf-23633d1c4a80', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'c538b99b-f724-4788-879f-adfe3b1a90ea', N'Completed', N'8378fe89-da94-406d-b0f3-f9784b5b6185', CAST(N'2023-10-20T22:04:24.9566667' AS DateTime2), N'["77d68364-fbd5-43dd-8720-926da682b0d7","bc104e6c-eec8-4dcd-b476-c34b2336bfb3","7d55216c-dcd4-4013-8461-f1aac771417b"]', N'', N'')
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'69746c85-6109-4370-9334-1490cd2334b0', N'Ongoing', N'515ae820-4d3f-4d0f-a33e-3ef4d1396306', CAST(N'2023-09-29T22:01:16.3600000' AS DateTime2), N'["bf0bb2bb-0bfb-408c-a9f5-f263eb811288","215adbdd-0b6d-40a5-95f1-effe85229b9e"]', N'', N'')
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'603d925c-147c-4d22-82cf-23633d1c4a80', N'76bf19f6-1221-4242-97bb-0355035a3389', N'Ongoing', N'a138a1c0-6c56-4d58-8ee7-6d3e8d653e93', CAST(N'2023-10-19T21:14:36.8700000' AS DateTime2), N'', N'', N'')
GO
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'ca49669e-746e-4dab-ad77-2a625d144b8b', N'Watashi wa DangHang', N'Watashi wa DangHang 123456', N'603d925c-147c-4d22-82cf-23633d1c4a80', CAST(N'2023-10-19T22:01:03.2133333' AS DateTime2), CAST(N'2023-10-19T22:01:03.2133333' AS DateTime2), 0, 3)
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'06752c05-4374-4449-b8a9-2c3dc2a0d0fc', N'I am Hồ Hoàng Lộc', N'I am Hồ Hoàng Lộc, an instructor', N'39dcb58a-5a86-4220-8366-518be3efe406', CAST(N'2023-09-23T08:54:57.5600000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 2000000, 11)
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'f2fbe555-5d02-441d-baeb-3a6acb740ed6', N'I am HuynhGiang59 #4', N'I am HuynhGiang59 #5', N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', CAST(N'2023-09-27T13:12:24.8800000' AS DateTime2), CAST(N'2023-09-27T13:12:24.8800000' AS DateTime2), 0, 5)
GO
SET IDENTITY_INSERT [dbo].[LectureMaterial] ON 

INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', 3, N'Video', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/ce7c409d-a615-4336-b430-8c5bd17d927c.mp4')
INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', 4, N'Document', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/af63abf1-ae38-4f58-86ba-500042c72e23.jpg')
INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'b494d1f9-7861-49fa-cc28-08dbbbda1458', 5, N'Document', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/accca829-a88d-46e0-a030-660efa68b37b.png')
SET IDENTITY_INSERT [dbo].[LectureMaterial] OFF
GO
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', N'Title 1', N'Content 1', N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', CAST(N'2023-09-23T09:09:12.9900000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'b494d1f9-7861-49fa-cc28-08dbbbda1458', N'Title 2', N'Content 2', N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', CAST(N'2023-09-23T09:11:29.0533333' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'c374bebd-5b47-4241-eedd-08dbd1e9b6c3', N'How to Program in C', N'How to Program in C', N'a9024270-a55c-4501-50bf-08dbd1dd90e7', CAST(N'2023-10-21T10:56:33.8400000' AS DateTime2), CAST(N'2023-10-21T10:56:33.8400000' AS DateTime2), 0)
GO
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd', N'Birdman or (The Unexpected Virtue of Ignorance)', 1, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'2a4b93d6-eb07-4e77-70f0-08dbc4bcacbd', N'American Sniper', 0, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'2569f1cc-0e67-4b03-70f1-08dbc4bcacbd', N'Boyhood', 0, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
GO
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8', N'Which film won the Academy Award for Best Picture in 2014?', N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288')
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'5a0c33c5-f7ac-49e3-f6bb-08dbc4bcacb8', N'Which of these quotes is from the film ''Auntie Mame''?', N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288')
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'3d102481-515b-49a1-f6bc-08dbc4bcacb8', N'Which film won the Academy Award for Best Picture in 2014?', N'215adbdd-0b6d-40a5-95f1-effe85229b9e')
GO
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'b7563fa0-addb-4873-9f8e-5547ce12b07f', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'7ccc2cf5-d906-4e66-b58f-92edd12b3556', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'8793defb-16fc-4c93-8d08-9d31c40ceeb2', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
GO
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'66f890fd-b661-4590-fca6-08dbbf209d15', N'{"Intro":"I am HuynhGiang59","Experience":"I am HuynhGiang59"}', N'RequestToBecomeInstructor', N'Dismissed', NULL, CAST(N'2023-09-27T13:11:40.3433333' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed')
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'37761db6-7f04-407c-fca7-08dbbf209d15', N'{"Intro":"I am HuynhGiang59 # 2","Experience":"I am HuynhGiang59 #2"}', N'RequestToBecomeInstructor', N'Approved', NULL, CAST(N'2023-09-27T13:12:04.6000000' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed')
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'b9ec39e8-1f58-41cb-0f61-08dbcb848a40', N'{"Message":"Reporting unauthorized sales","Conversation":"75d60c97-b560-4779-9a31-c5855c24def1"}', N'ReportGroup', N'None', NULL, CAST(N'2023-10-13T07:37:12.1133333' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb')
GO
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', 0, N'Front-End Web Development', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'e11735d1-4e40-421b-608a-08dbbbd82e06', 1, N'Introduction to HTML', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'a2f13f55-75c5-4d84-608b-08dbbbd82e06', 2, N'Intermediate HTML', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'39f7f7d5-3491-4a91-bc7a-1dc3e520f834', 1.6666666666666665, 5, N'6965b04a-e57a-4cc0-ac98-c19c61eaa497', CAST(N'2023-10-24T14:46:34.8833333' AS DateTime2), CAST(N'2023-10-24T14:46:34.8833333' AS DateTime2), N'55ac3b6e-48c4-4ef0-86e8-17129b0f1676', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'f16260df-0e01-48b6-866a-2ab5bf04f412', 10, 8, N'bc104e6c-eec8-4dcd-b476-c34b2336bfb3', CAST(N'2023-10-20T22:47:23.1066667' AS DateTime2), CAST(N'2023-10-20T22:47:23.1066667' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'b7563fa0-addb-4873-9f8e-5547ce12b07f', 10, 3, N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288', CAST(N'2023-10-20T16:52:31.3000000' AS DateTime2), CAST(N'2023-10-20T16:52:31.3000000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatorId]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [GradeToPass]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [CourseCount]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[ConversationMembers] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CourseReviews] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CourseReviews] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [AssignmentMilestones]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [LectureMilestones]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [SectionMilestones]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [CourseCount]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPreviewable]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Users_CreatorId]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Sections_SectionId]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users_CreatorId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users_CreatorId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_CreatorId]
GO
ALTER TABLE [dbo].[CommentMedia]  WITH CHECK ADD  CONSTRAINT [FK_CommentMedia_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentMedia] CHECK CONSTRAINT [FK_CommentMedia_Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Articles_ArticleId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_ParentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lectures_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lectures] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lectures_LectureId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_CreatorId]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Users_CreatorId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_CreatorId]
GO
ALTER TABLE [dbo].[CourseMeta]  WITH CHECK ADD  CONSTRAINT [FK_CourseMeta_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseMeta] CHECK CONSTRAINT [FK_CourseMeta_Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD  CONSTRAINT [FK_CourseReviews_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseReviews] CHECK CONSTRAINT [FK_CourseReviews_Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD  CONSTRAINT [FK_CourseReviews_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseReviews] CHECK CONSTRAINT [FK_CourseReviews_Users_CreatorId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Categories_LeafCategoryId] FOREIGN KEY([LeafCategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Categories_LeafCategoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Instructors_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Instructors_InstructorId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Users_CreatorId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Bills_BillId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_CreatorId]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_Users_CreatorId]
GO
ALTER TABLE [dbo].[LectureMaterial]  WITH CHECK ADD  CONSTRAINT [FK_LectureMaterial_Lectures_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lectures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LectureMaterial] CHECK CONSTRAINT [FK_LectureMaterial_Lectures_LectureId]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [FK_Lectures_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [FK_Lectures_Sections_SectionId]
GO
ALTER TABLE [dbo].[McqChoices]  WITH CHECK ADD  CONSTRAINT [FK_McqChoices_McqQuestions_McqQuestionId] FOREIGN KEY([McqQuestionId])
REFERENCES [dbo].[McqQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqChoices] CHECK CONSTRAINT [FK_McqChoices_McqQuestions_McqQuestionId]
GO
ALTER TABLE [dbo].[McqQuestions]  WITH CHECK ADD  CONSTRAINT [FK_McqQuestions_Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqQuestions] CHECK CONSTRAINT [FK_McqQuestions_Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[McqUserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_McqUserAnswer_McqChoices_MCQChoiceId] FOREIGN KEY([MCQChoiceId])
REFERENCES [dbo].[McqChoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqUserAnswer] CHECK CONSTRAINT [FK_McqUserAnswer_McqChoices_MCQChoiceId]
GO
ALTER TABLE [dbo].[McqUserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_McqUserAnswer_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[McqUserAnswer] CHECK CONSTRAINT [FK_McqUserAnswer_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_CreatorId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_ReceiverId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Articles_ArticleId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_ChatMessages_ChatMessageId] FOREIGN KEY([ChatMessageId])
REFERENCES [dbo].[ChatMessages] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_ChatMessages_ChatMessageId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Comments_CommentId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Courses_CourseId]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Users_CreatorId]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Articles_ArticleId]
GO
