USE [CourseHubDB]
GO
/****** Object:  Table [dbo].[CartCheckout]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartCheckout](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CourseIds] [nvarchar](max) NOT NULL,
	[TotalAmount] [bigint] NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[ProcessedTime] [datetime2](7) NULL,
	[Notes] [nvarchar](500) NULL,
	[SessionId] [varchar](100) NULL,
 CONSTRAINT [PK_CartCheckout] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[GetCheckoutStats]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[GetCheckoutStats](@FromDate DATETIME2, @ToDate DATETIME2)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        COUNT(*) AS TotalCheckouts,
        SUM(CASE WHEN [Status] = 'COMPLETED' THEN 1 ELSE 0 END) AS CompletedCheckouts,
        SUM(CASE WHEN [Status] = 'FAILED' THEN 1 ELSE 0 END) AS FailedCheckouts,
        SUM(CASE WHEN [PaymentMethod] = 'COD' THEN 1 ELSE 0 END) AS CODCheckouts,
        SUM(CASE WHEN [PaymentMethod] = 'Online' THEN 1 ELSE 0 END) AS OnlineCheckouts,
        SUM(CASE WHEN [Status] = 'COMPLETED' THEN [TotalAmount] ELSE 0 END) AS TotalRevenue,
        AVG(CASE WHEN [Status] = 'COMPLETED' THEN CAST([TotalAmount] AS FLOAT) ELSE NULL END) AS AvgOrderValue
    FROM [dbo].[CartCheckout]
    WHERE [CreationTime] BETWEEN @FromDate AND @ToDate
)
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](3000) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Status] [varchar](45) NOT NULL,
	[IsCommentDisabled] [bit] NOT NULL,
	[CommentCount] [int] NOT NULL,
	[ViewCount] [int] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Duration] [int] NOT NULL,
	[QuestionCount] [int] NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[GradeToPass] [float] NOT NULL,
 CONSTRAINT [PK_Assignments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[Id] [uniqueidentifier] NOT NULL,
	[Action] [varchar](100) NOT NULL,
	[Note] [nvarchar](255) NOT NULL,
	[Amount] [bigint] NOT NULL,
	[Gateway] [varchar](20) NOT NULL,
	[TransactionId] [varchar](100) NOT NULL,
	[ClientTransactionId] [varchar](100) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[IsSuccessful] [bit] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Path] [varchar](255) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[IsLeaf] [bit] NOT NULL,
	[CourseCount] [int] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
	[message_type] [nvarchar](20) NOT NULL,
	[is_edited] [bit] NOT NULL,
 CONSTRAINT [PK_ChatMessages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CommentMedia]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentMedia](
	[CommentId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_CommentMedia] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[SourceType] [nvarchar](max) NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[LectureId] [uniqueidentifier] NULL,
	[ArticleId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConversationMembers]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConversationMembers](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[ConversationId] [uniqueidentifier] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[LastVisit] [datetime2](7) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ConversationMembers] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[ConversationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversations]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversations](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](45) NOT NULL,
	[IsPrivate] [bit] NOT NULL,
	[AvatarUrl] [nvarchar](255) NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[last_message_at] [datetime] NULL,
	[is_group] [bit] NOT NULL,
 CONSTRAINT [PK_Conversations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseMeta]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseMeta](
	[CourseId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Value] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_CourseMeta] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseNotifications]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseNotifications](
	[Id] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[InstructorId] [uniqueidentifier] NOT NULL,
	[InstructorName] [nvarchar](255) NOT NULL,
	[CourseTitle] [nvarchar](255) NOT NULL,
	[CoursePrice] [float] NOT NULL,
	[NotificationType] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[RejectionReason] [nvarchar](1000) NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[ProcessedTime] [datetime2](7) NULL,
	[ProcessedBy] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CourseReviews]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseReviews](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_CourseReviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[MetaTitle] [varchar](255) NOT NULL,
	[ThumbUrl] [nvarchar](255) NOT NULL,
	[Intro] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Price] [float] NOT NULL,
	[Discount] [float] NOT NULL,
	[DiscountExpiry] [datetime2](7) NOT NULL,
	[Level] [nvarchar](max) NOT NULL,
	[Outcomes] [nvarchar](500) NOT NULL,
	[Requirements] [nvarchar](500) NOT NULL,
	[LectureCount] [tinyint] NOT NULL,
	[LearnerCount] [int] NOT NULL,
	[RatingCount] [int] NOT NULL,
	[TotalRating] [bigint] NOT NULL,
	[LeafCategoryId] [uniqueidentifier] NOT NULL,
	[InstructorId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
	[DismissReason] [nvarchar](1000) NULL,
	[RejectionReason] [nvarchar](1000) NULL,
	[ApprovalStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrollments]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrollments](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[BillId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[AssignmentMilestones] [nvarchar](max) NOT NULL,
	[LectureMilestones] [nvarchar](max) NOT NULL,
	[SectionMilestones] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Enrollments] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructors]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructors](
	[Id] [uniqueidentifier] NOT NULL,
	[Intro] [nvarchar](500) NOT NULL,
	[Experience] [nvarchar](1000) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[Balance] [bigint] NOT NULL,
	[CourseCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_Instructors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LectureMaterial]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LectureMaterial](
	[LectureId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Url] [varchar](255) NOT NULL,
 CONSTRAINT [PK_LectureMaterial] PRIMARY KEY CLUSTERED 
(
	[LectureId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lectures]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lectures](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](3000) NOT NULL,
	[SectionId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[IsPreviewable] [bit] NOT NULL,
 CONSTRAINT [PK_Lectures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqChoices]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqChoices](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[McqQuestionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_McqChoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqQuestions]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqQuestions](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_McqQuestions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[McqUserAnswer]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[McqUserAnswer](
	[SubmissionId] [uniqueidentifier] NOT NULL,
	[MCQChoiceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_McqUserAnswer] PRIMARY KEY CLUSTERED 
(
	[SubmissionId] ASC,
	[MCQChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[Id] [uniqueidentifier] NOT NULL,
	[Message] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ReceiverId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateConversations]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateConversations](
	[conversation_id] [int] IDENTITY(1,1) NOT NULL,
	[user1_id] [nvarchar](50) NOT NULL,
	[user2_id] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[last_message_at] [datetime] NULL,
	[last_message_text] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[conversation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrivateMessages]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrivateMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[conversation_id] [int] NOT NULL,
	[sender_id] [nvarchar](50) NOT NULL,
	[message_text] [nvarchar](max) NOT NULL,
	[sent_at] [datetime] NOT NULL,
	[is_read] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reactions]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reactions](
	[CreatorId] [uniqueidentifier] NOT NULL,
	[SourceEntityId] [uniqueidentifier] NOT NULL,
	[Content] [varchar](10) NOT NULL,
	[SourceType] [nvarchar](max) NOT NULL,
	[ArticleId] [uniqueidentifier] NULL,
	[ChatMessageId] [uniqueidentifier] NULL,
	[CommentId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Reactions] PRIMARY KEY CLUSTERED 
(
	[CreatorId] ASC,
	[SourceEntityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sections]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sections](
	[Id] [uniqueidentifier] NOT NULL,
	[Index] [tinyint] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[LectureCount] [tinyint] NOT NULL,
	[CourseId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[Id] [uniqueidentifier] NOT NULL,
	[Mark] [float] NOT NULL,
	[TimeSpentInSec] [int] NOT NULL,
	[AssignmentId] [uniqueidentifier] NOT NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[CreatorId] [uniqueidentifier] NOT NULL,
	[LastModifierId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Submissions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[ArticleId] [uniqueidentifier] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](45) NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[ArticleId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/5/2025 9:08:39 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [varchar](45) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Email] [varchar](45) NOT NULL,
	[FullName] [nvarchar](45) NOT NULL,
	[MetaFullName] [varchar](45) NOT NULL,
	[AvatarUrl] [varchar](100) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
	[Token] [varchar](100) NOT NULL,
	[RefreshToken] [varchar](100) NOT NULL,
	[IsVerified] [bit] NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[AccessFailedCount] [tinyint] NOT NULL,
	[LoginProvider] [varchar](100) NULL,
	[ProviderKey] [varchar](100) NULL,
	[Bio] [nvarchar](1000) NOT NULL,
	[DateOfBirth] [datetime2](7) NULL,
	[Phone] [varchar](45) NULL,
	[EnrollmentCount] [int] NOT NULL,
	[InstructorId] [uniqueidentifier] NULL,
	[CreationTime] [datetime2](7) NOT NULL,
	[LastModificationTime] [datetime2](7) NOT NULL,
	[SystemBalance] [bigint] NOT NULL,
	[avatar_url] [nvarchar](255) NULL,
	[last_seen] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230923015142_M1_InitDb', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230924155558_M2_Fix', N'7.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230924164124_M3_Fix', N'7.0.10')
GO
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'72930d6e-30a8-48d8-b8d0-130cd4f61ea1', N'Assignment #79', 30, 4, N'1c039d3e-acae-4445-6097-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'4cbd9f9c-55df-4752-a190-1c9daad20869', N'Assignment #38', 30, 3, N'e4a172d5-7ba2-4abd-6093-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
INSERT [dbo].[Assignments] ([Id], [Name], [Duration], [QuestionCount], [SectionId], [CreatorId], [GradeToPass]) VALUES (N'5519b20f-9f30-4a92-81e8-2b0fa1867c51', N'Assignment #4', 30, 0, N'fc495ebf-d6a8-4831-6094-08dbbbd82e06', N'ac69fdb5-adce-4e81-8453-f7cbb759d2f0', 8)
GO
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'9b8962fd-d5e1-411b-8d3f-27a832c21b23', N'Pay for course', N'Thanh toán khi nhận hàng - Đơn hàng khóa học', 22000, N'COD', N'EDU20251101001502856', N'EDU20251101001502856', N'1', 1, CAST(N'2025-11-01T00:15:03.1733333' AS DateTime2), N'237332f2-9fd9-412d-8b29-9cd7f10bd72a')
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'381d76b2-e2bb-42f4-8887-2f32f7f704ea', N'Pay for course', N'Thanh toán khi nhận hàng - Đơn hàng khóa học', 400000, N'COD', N'EDU20251101153801653', N'EDU20251101153801653', N'1', 1, CAST(N'2025-11-01T15:38:01.1566667' AS DateTime2), N'603d925c-147c-4d22-82cf-23633d1c4a80')
INSERT [dbo].[Bills] ([Id], [Action], [Note], [Amount], [Gateway], [TransactionId], [ClientTransactionId], [Token], [IsSuccessful], [CreationTime], [CreatorId]) VALUES (N'05f899d8-3494-4d35-8942-2f38de422217', N'Pay for course', N'Thanh toán online qua VietQR - Đơn hàng khóa học', 82000, N'VietQR', N'EDU20251101230315984', N'EDU20251101230315984', N'1', 1, CAST(N'2025-11-01T23:03:15.2200000' AS DateTime2), N'237332f2-9fd9-412d-8b29-9cd7f10bd72a')
GO
INSERT [dbo].[CartCheckout] ([Id], [UserId], [CourseIds], [TotalAmount], [PaymentMethod], [Status], [CreationTime], [ProcessedTime], [Notes], [SessionId]) VALUES (N'5a6b9fb7-8bec-48f1-bac6-04f4b31e475c', N'c90648ff-c420-4b9d-92b2-081d7cc209d5', N'["00EF965C-D74E-487B-AB36-55619D89EF37","670896F5-B0A1-413F-9C77-07E103A131C6"]', 250000, N'COD', N'COMPLETED', CAST(N'2025-10-26T22:22:09.3466667' AS DateTime2), CAST(N'2025-10-26T22:22:09.3666667' AS DateTime2), N'Thanh toÃ¡n khi nháº­n hÃ ng - ÄÆ¡n hÃ ng khÃ³a há»c - Enrollments: 1, Skipped: 0', N'TEST_SESSION')
INSERT [dbo].[CartCheckout] ([Id], [UserId], [CourseIds], [TotalAmount], [PaymentMethod], [Status], [CreationTime], [ProcessedTime], [Notes], [SessionId]) VALUES (N'82f69a9a-c39c-4868-bdce-208b7f428226', N'237332f2-9fd9-412d-8b29-9cd7f10bd72a', N'["CFB0E398-5F54-4793-B1E2-87955920C6DC"]', 82000, N'VNPay Online', N'COMPLETED', CAST(N'2025-11-01T23:03:15.2200000' AS DateTime2), CAST(N'2025-11-01T23:03:15.2233333' AS DateTime2), N'Thanh toán online qua VietQR - Đơn hàng khóa học - Enrollments: 1, Skipped: 0', N'37135448')
INSERT [dbo].[CartCheckout] ([Id], [UserId], [CourseIds], [TotalAmount], [PaymentMethod], [Status], [CreationTime], [ProcessedTime], [Notes], [SessionId]) VALUES (N'd65667d2-1ac1-419e-b86f-2daa73dbe794', N'237332f2-9fd9-412d-8b29-9cd7f10bd72a', N'["9FED7922-71EF-404B-B105-A58C9D8A8C12"]', 92000, N'VietQR Banking', N'PROCESSING', CAST(N'2025-11-02T11:21:32.8800000' AS DateTime2), NULL, N'Thanh toán qua VietQR Banking - Đơn hàng khóa học', N'3a1db38c-4ab1-45aa-8ce8-5ccbd3422efa')
GO
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'd78b5017-1dac-4295-ba74-01a20b245ab6', N'639e0f76-1b43-4b4f-a56a-e9a08ce35e65_d78b5017-1dac-4295-ba74-01a20b245ab6', N'Economics', N'Learn about the principles of economics and how they apply to the real world.', 1, 5)
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'eccf3209-5133-4931-b12d-01e14011f0ae', N'602e0134-5533-43ec-a1d5-b133113550b3_eccf3209-5133-4931-b12d-01e14011f0ae', N'Marketing Analytics & Automation', N'Learn how to use data and automation to improve your marketing campaigns.', 1, 0)
INSERT [dbo].[Categories] ([Id], [Path], [Title], [Description], [IsLeaf], [CourseCount]) VALUES (N'c6fb9ff0-2f34-4a03-9d4e-08886d86bd95', N'43f77d00-c236-45ae-bc7d-c301368d3ddd_c6fb9ff0-2f34-4a03-9d4e-08886d86bd95', N'Entrepreneurship', N'Learn how to start and run your own business.', 1, 0)
GO
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId], [message_type], [is_edited]) VALUES (N'0bde0744-5235-4122-b86e-19407008a108', N'ní hảo', N'Delivered', N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', CAST(N'2023-10-03T16:58:04.7566667' AS DateTime2), CAST(N'2023-10-03T16:58:04.7566667' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000', N'text', 0)
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId], [message_type], [is_edited]) VALUES (N'75408f57-50a5-4176-9632-1c3fbdb34147', N'Chào buổi trưa', N'Delivered', N'e11a6568-9a2d-4886-b7b2-810f7f9bf2ea', CAST(N'2023-10-03T16:56:24.0333333' AS DateTime2), CAST(N'2023-10-03T16:56:24.0333333' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000', N'text', 0)
INSERT [dbo].[ChatMessages] ([Id], [Content], [Status], [ConversationId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId], [message_type], [is_edited]) VALUES (N'9c3cfbd1-9c4e-4c5f-b579-21f486b9c1c4', N'Hi An', N'Delivered', N'ec7e3812-819b-40e6-a64a-ce8ca93504f4', CAST(N'2023-10-22T07:01:29.3800000' AS DateTime2), CAST(N'2023-10-22T07:01:29.3800000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000', N'text', 0)
GO
INSERT [dbo].[Comments] ([Id], [Content], [Status], [SourceType], [ParentId], [LectureId], [ArticleId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'7a3a5f73-3e2a-4120-8111-2f139a0ce10b', N'Bài giảng thật dễ hiểu!', N'None', N'Lecture', NULL, N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', NULL, CAST(N'2023-10-08T18:32:33.0866667' AS DateTime2), CAST(N'2023-10-08T18:32:33.0866667' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Comments] ([Id], [Content], [Status], [SourceType], [ParentId], [LectureId], [ArticleId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'a15d1a48-a21a-401e-af08-92061c3a66c9', N'Bài giảng quá ok!', N'None', N'Lecture', NULL, N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', NULL, CAST(N'2023-10-17T15:23:15.9700000' AS DateTime2), CAST(N'2023-10-17T15:23:15.9700000' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'76cd8746-7b43-406c-a43b-00ba9aea48b3', N'154efdf4-fffb-47ea-99e5-0c07b9a445a9', 0, CAST(N'2025-10-13T00:13:59.1200000' AS DateTime2), CAST(N'2025-10-13T00:13:59.1200000' AS DateTime2))
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'76cd8746-7b43-406c-a43b-00ba9aea48b3', N'79dc4220-0173-4ee2-918e-0ead3e60a66b', 0, CAST(N'2025-10-13T00:13:54.5966667' AS DateTime2), CAST(N'2025-10-13T00:13:54.5966667' AS DateTime2))
INSERT [dbo].[ConversationMembers] ([CreatorId], [ConversationId], [IsAdmin], [LastVisit], [CreationTime]) VALUES (N'76cd8746-7b43-406c-a43b-00ba9aea48b3', N'19022cff-2f41-4fde-ac80-1516c5eedf56', 0, CAST(N'2025-10-12T18:02:34.5133333' AS DateTime2), CAST(N'2025-10-12T18:02:34.5133333' AS DateTime2))
GO
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId], [last_message_at], [is_group]) VALUES (N'154efdf4-fffb-47ea-99e5-0c07b9a445a9', N'Private Chat', 1, N'', CAST(N'2025-10-13T00:13:59.1166667' AS DateTime2), N'76cd8746-7b43-406c-a43b-00ba9aea48b3', NULL, 0)
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId], [last_message_at], [is_group]) VALUES (N'f86c5896-de0c-4ba9-800b-0c8d03e779e0', N'Private Chat', 1, N'', CAST(N'2025-10-13T00:13:25.9266667' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', NULL, 0)
INSERT [dbo].[Conversations] ([Id], [Title], [IsPrivate], [AvatarUrl], [CreationTime], [CreatorId], [last_message_at], [is_group]) VALUES (N'd76b3025-c155-4d45-8bd2-0da2115094c3', N'Private Chat', 1, N'', CAST(N'2025-10-13T00:13:28.4400000' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', NULL, 0)
GO
INSERT [dbo].[CourseNotifications] ([Id], [CourseId], [InstructorId], [InstructorName], [CourseTitle], [CoursePrice], [NotificationType], [Status], [RejectionReason], [CreationTime], [ProcessedTime], [ProcessedBy]) VALUES (N'62a6873c-e734-4648-86eb-8f562fd1dae2', N'cc9618a2-cc6b-4b04-9d2a-2f644f900acf', N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'HuynhGiang59', N'đ', 1231123, N'course_pending', N'approved', NULL, CAST(N'2025-11-05T09:06:20.8000000' AS DateTime2), CAST(N'2025-11-05T09:06:38.9800000' AS DateTime2), N'eb2b2b9b-c74d-4fee-afa2-1e5dcbad943b')
INSERT [dbo].[CourseNotifications] ([Id], [CourseId], [InstructorId], [InstructorName], [CourseTitle], [CoursePrice], [NotificationType], [Status], [RejectionReason], [CreationTime], [ProcessedTime], [ProcessedBy]) VALUES (N'265bf027-2d56-4247-af32-acea1825b85c', N'2bcf686f-02f5-4fc7-911f-8c7053fafb07', N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'HuynhGiang59', N'123', 123123, N'course_pending', N'approved', NULL, CAST(N'2025-11-05T08:52:00.7600000' AS DateTime2), CAST(N'2025-11-05T08:53:02.0533333' AS DateTime2), N'eb2b2b9b-c74d-4fee-afa2-1e5dcbad943b')
GO
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'5437e19d-d016-4c2a-d511-08dbc48644b2', N'Khóa học quá ok, rẻ mà chất lượng quá, mình học vài tuần đã làm được', 5, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-10-04T10:01:56.9300000' AS DateTime2), CAST(N'2023-10-04T10:01:56.9300000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'52f2b66b-43d9-4712-9c6d-08dbc6386323', N'Khóa học quá ok!', 4, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-10-06T13:49:28.7300000' AS DateTime2), CAST(N'2023-10-17T05:04:18.0816250' AS DateTime2), N'9f32b3ba-e7c5-4f58-81b8-8096f6f99c79', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[CourseReviews] ([Id], [Content], [Rating], [CourseId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'17caf6ad-dc6b-4a0b-0c5d-08dbd0b1d9f6', N'5/5 great course!', 5, N'76bf19f6-1221-4242-97bb-0355035a3389', CAST(N'2023-10-19T21:44:08.7933333' AS DateTime2), CAST(N'2023-10-19T14:56:35.6692183' AS DateTime2), N'603d925c-147c-4d22-82cf-23633d1c4a80', N'00000000-0000-0000-0000-000000000000')
GO
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'c90648ff-c420-4b9d-92b2-081d7cc209d5', N'670896f5-b0a1-413f-9c77-07e103a131c6', N'ACTIVE', N'd5d2d3fa-a89b-4196-9525-d57de221fc15', CAST(N'2025-10-26T22:37:36.8133333' AS DateTime2), N'[]', N'[]', N'[]')
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'c90648ff-c420-4b9d-92b2-081d7cc209d5', N'c05e0a8e-1751-4cf0-a3fb-2b41437987ea', N'ACTIVE', N'f456842e-b59f-4155-a8a3-63cdb2be71b7', CAST(N'2025-10-27T21:53:18.4066667' AS DateTime2), N'[]', N'[]', N'[]')
INSERT [dbo].[Enrollments] ([CreatorId], [CourseId], [Status], [BillId], [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]) VALUES (N'c90648ff-c420-4b9d-92b2-081d7cc209d5', N'00ef965c-d74e-487b-ab36-55619d89ef37', N'ACTIVE', N'34e21b18-66fa-4d86-99ae-a162944d697c', CAST(N'2025-10-26T22:22:09.3500000' AS DateTime2), N'[]', N'[]', N'[]')
GO
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'ca49669e-746e-4dab-ad77-2a625d144b8b', N'Watashi wa DangHang', N'Watashi wa DangHang 123456', N'603d925c-147c-4d22-82cf-23633d1c4a80', CAST(N'2023-10-19T22:01:03.2133333' AS DateTime2), CAST(N'2023-10-19T22:01:03.2133333' AS DateTime2), 978000, 4)
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'06752c05-4374-4449-b8a9-2c3dc2a0d0fc', N'I am Hồ Hoàng Lộc', N'I am Hồ Hoàng Lộc, an instructor', N'39dcb58a-5a86-4220-8366-518be3efe406', CAST(N'2023-09-23T08:54:57.5600000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 2865000, 11)
INSERT [dbo].[Instructors] ([Id], [Intro], [Experience], [CreatorId], [CreationTime], [LastModificationTime], [Balance], [CourseCount]) VALUES (N'f2fbe555-5d02-441d-baeb-3a6acb740ed6', N'I am HuynhGiang59 #4', N'I am HuynhGiang59 #5', N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', CAST(N'2023-09-27T13:12:24.8800000' AS DateTime2), CAST(N'2023-09-27T13:12:24.8800000' AS DateTime2), 62000, 7)
GO
SET IDENTITY_INSERT [dbo].[LectureMaterial] ON 

INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', 3, N'Video', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/ce7c409d-a615-4336-b430-8c5bd17d927c.mp4')
INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', 4, N'Document', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/af63abf1-ae38-4f58-86ba-500042c72e23.jpg')
INSERT [dbo].[LectureMaterial] ([LectureId], [Id], [Type], [Url]) VALUES (N'b494d1f9-7861-49fa-cc28-08dbbbda1458', 5, N'Document', N'CourseMedia/69746c85-6109-4370-9334-1490cd2334b0/accca829-a88d-46e0-a030-660efa68b37b.png')
SET IDENTITY_INSERT [dbo].[LectureMaterial] OFF
GO
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'0f9acec4-3fe3-4c23-cc27-08dbbbda1458', N'Title 1', N'Content 1', N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', CAST(N'2023-09-23T09:09:12.9900000' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'b494d1f9-7861-49fa-cc28-08dbbbda1458', N'Title 2', N'Content 2', N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', CAST(N'2023-09-23T09:11:29.0533333' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Lectures] ([Id], [Title], [Content], [SectionId], [CreationTime], [LastModificationTime], [IsPreviewable]) VALUES (N'c374bebd-5b47-4241-eedd-08dbd1e9b6c3', N'How to Program in C', N'How to Program in C', N'a9024270-a55c-4501-50bf-08dbd1dd90e7', CAST(N'2023-10-21T10:56:33.8400000' AS DateTime2), CAST(N'2023-10-21T10:56:33.8400000' AS DateTime2), 0)
GO
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd', N'Birdman or (The Unexpected Virtue of Ignorance)', 1, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'2a4b93d6-eb07-4e77-70f0-08dbc4bcacbd', N'American Sniper', 0, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
INSERT [dbo].[McqChoices] ([Id], [Content], [IsCorrect], [McqQuestionId]) VALUES (N'2569f1cc-0e67-4b03-70f1-08dbc4bcacbd', N'Boyhood', 0, N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8')
GO
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'dea345a3-833b-4a89-f6ba-08dbc4bcacb8', N'Which film won the Academy Award for Best Picture in 2014?', N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288')
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'5a0c33c5-f7ac-49e3-f6bb-08dbc4bcacb8', N'Which of these quotes is from the film ''Auntie Mame''?', N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288')
INSERT [dbo].[McqQuestions] ([Id], [Content], [AssignmentId]) VALUES (N'3d102481-515b-49a1-f6bc-08dbc4bcacb8', N'Which film won the Academy Award for Best Picture in 2014?', N'215adbdd-0b6d-40a5-95f1-effe85229b9e')
GO
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'b7563fa0-addb-4873-9f8e-5547ce12b07f', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'7ccc2cf5-d906-4e66-b58f-92edd12b3556', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
INSERT [dbo].[McqUserAnswer] ([SubmissionId], [MCQChoiceId]) VALUES (N'8793defb-16fc-4c93-8d08-9d31c40ceeb2', N'edb5ccb1-da56-47bb-70ef-08dbc4bcacbd')
GO
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'66f890fd-b661-4590-fca6-08dbbf209d15', N'{"Intro":"I am HuynhGiang59","Experience":"I am HuynhGiang59"}', N'RequestToBecomeInstructor', N'Dismissed', NULL, CAST(N'2023-09-27T13:11:40.3433333' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed')
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'37761db6-7f04-407c-fca7-08dbbf209d15', N'{"Intro":"I am HuynhGiang59 # 2","Experience":"I am HuynhGiang59 #2"}', N'RequestToBecomeInstructor', N'Approved', NULL, CAST(N'2023-09-27T13:12:04.6000000' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed')
INSERT [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId]) VALUES (N'b9ec39e8-1f58-41cb-0f61-08dbcb848a40', N'{"Message":"Reporting unauthorized sales","Conversation":"75d60c97-b560-4779-9a31-c5855c24def1"}', N'ReportGroup', N'None', NULL, CAST(N'2023-10-13T07:37:12.1133333' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb')
GO
SET IDENTITY_INSERT [dbo].[PrivateConversations] ON 

INSERT [dbo].[PrivateConversations] ([conversation_id], [user1_id], [user2_id], [created_at], [last_message_at], [last_message_text]) VALUES (1, N'1', N'2', CAST(N'2025-10-22T10:03:19.273' AS DateTime), CAST(N'2025-10-22T10:03:19.280' AS DateTime), N'Hello! This is a test message.')
SET IDENTITY_INSERT [dbo].[PrivateConversations] OFF
GO
SET IDENTITY_INSERT [dbo].[PrivateMessages] ON 

INSERT [dbo].[PrivateMessages] ([message_id], [conversation_id], [sender_id], [message_text], [sent_at], [is_read]) VALUES (1, 1, N'1', N'Hello! This is a test message.', CAST(N'2025-10-22T10:03:19.277' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PrivateMessages] OFF
GO
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'484275b5-e6f3-4ccc-6089-08dbbbd82e06', 0, N'Front-End Web Development', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'e11735d1-4e40-421b-608a-08dbbbd82e06', 1, N'Introduction to HTML', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Sections] ([Id], [Index], [Title], [LectureCount], [CourseId], [CreationTime], [LastModificationTime]) VALUES (N'a2f13f55-75c5-4d84-608b-08dbbbd82e06', 2, N'Intermediate HTML', 0, N'69746c85-6109-4370-9334-1490cd2334b0', CAST(N'2023-09-23T08:55:36.4566667' AS DateTime2), CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'39f7f7d5-3491-4a91-bc7a-1dc3e520f834', 1.6666666666666665, 5, N'6965b04a-e57a-4cc0-ac98-c19c61eaa497', CAST(N'2023-10-24T14:46:34.8833333' AS DateTime2), CAST(N'2023-10-24T14:46:34.8833333' AS DateTime2), N'55ac3b6e-48c4-4ef0-86e8-17129b0f1676', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'f16260df-0e01-48b6-866a-2ab5bf04f412', 10, 8, N'bc104e6c-eec8-4dcd-b476-c34b2336bfb3', CAST(N'2023-10-20T22:47:23.1066667' AS DateTime2), CAST(N'2023-10-20T22:47:23.1066667' AS DateTime2), N'8c3d6d81-2d70-4b5d-87bd-0a9b2d4da4ed', N'00000000-0000-0000-0000-000000000000')
INSERT [dbo].[Submissions] ([Id], [Mark], [TimeSpentInSec], [AssignmentId], [CreationTime], [LastModificationTime], [CreatorId], [LastModifierId]) VALUES (N'b7563fa0-addb-4873-9f8e-5547ce12b07f', 10, 3, N'bf0bb2bb-0bfb-408c-a9f5-f263eb811288', CAST(N'2023-10-20T16:52:31.3000000' AS DateTime2), CAST(N'2023-10-20T16:52:31.3000000' AS DateTime2), N'522d2265-0532-4142-8079-0aa7e9c7d3cb', N'00000000-0000-0000-0000-000000000000')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__PrivateC__AAA434A76B366066]    Script Date: 11/5/2025 9:08:39 AM ******/
ALTER TABLE [dbo].[PrivateConversations] ADD UNIQUE NONCLUSTERED 
(
	[user1_id] ASC,
	[user2_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Articles] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [CreatorId]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0.0000000000000000e+000)) FOR [GradeToPass]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CartCheckout] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CartCheckout] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[CartCheckout] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [CourseCount]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ('text') FOR [message_type]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [is_edited]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[ConversationMembers] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Conversations] ADD  DEFAULT ((0)) FOR [is_group]
GO
ALTER TABLE [dbo].[CourseNotifications] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[CourseNotifications] ADD  DEFAULT ('course_pending') FOR [NotificationType]
GO
ALTER TABLE [dbo].[CourseNotifications] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[CourseNotifications] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CourseReviews] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[CourseReviews] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ('pending') FOR [ApprovalStatus]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [AssignmentMilestones]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [LectureMilestones]
GO
ALTER TABLE [dbo].[Enrollments] ADD  DEFAULT (N'') FOR [SectionMilestones]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Instructors] ADD  DEFAULT (CONVERT([tinyint],(0))) FOR [CourseCount]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Lectures] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsPreviewable]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[PrivateConversations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[PrivateMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[PrivateMessages] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Sections] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreationTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [LastModificationTime]
GO
ALTER TABLE [dbo].[Articles]  WITH CHECK ADD  CONSTRAINT [FK_Articles_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Articles] CHECK CONSTRAINT [FK_Articles_Users_CreatorId]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Sections_SectionId]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Users_CreatorId]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bills_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bills_Users_CreatorId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Users_CreatorId]
GO
ALTER TABLE [dbo].[CommentMedia]  WITH CHECK ADD  CONSTRAINT [FK_CommentMedia_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CommentMedia] CHECK CONSTRAINT [FK_CommentMedia_Comments_CommentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Articles_ArticleId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Comments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Comments_ParentId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Lectures_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lectures] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Lectures_LectureId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users_CreatorId]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Conversations_ConversationId] FOREIGN KEY([ConversationId])
REFERENCES [dbo].[Conversations] ([Id])
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Conversations_ConversationId]
GO
ALTER TABLE [dbo].[ConversationMembers]  WITH CHECK ADD  CONSTRAINT [FK_ConversationMembers_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConversationMembers] CHECK CONSTRAINT [FK_ConversationMembers_Users_CreatorId]
GO
ALTER TABLE [dbo].[Conversations]  WITH CHECK ADD  CONSTRAINT [FK_Conversations_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Conversations] CHECK CONSTRAINT [FK_Conversations_Users_CreatorId]
GO
ALTER TABLE [dbo].[CourseMeta]  WITH CHECK ADD  CONSTRAINT [FK_CourseMeta_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseMeta] CHECK CONSTRAINT [FK_CourseMeta_Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseNotifications]  WITH CHECK ADD  CONSTRAINT [FK_CourseNotifications_Courses] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseNotifications] CHECK CONSTRAINT [FK_CourseNotifications_Courses]
GO
ALTER TABLE [dbo].[CourseNotifications]  WITH CHECK ADD  CONSTRAINT [FK_CourseNotifications_ProcessedBy] FOREIGN KEY([ProcessedBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[CourseNotifications] CHECK CONSTRAINT [FK_CourseNotifications_ProcessedBy]
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD  CONSTRAINT [FK_CourseReviews_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseReviews] CHECK CONSTRAINT [FK_CourseReviews_Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseReviews]  WITH CHECK ADD  CONSTRAINT [FK_CourseReviews_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseReviews] CHECK CONSTRAINT [FK_CourseReviews_Users_CreatorId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Categories_LeafCategoryId] FOREIGN KEY([LeafCategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Categories_LeafCategoryId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Instructors_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Instructors] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Instructors_InstructorId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_Courses_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_Courses_Users_CreatorId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Bills_BillId] FOREIGN KEY([BillId])
REFERENCES [dbo].[Bills] ([Id])
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Bills_BillId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Courses_CourseId]
GO
ALTER TABLE [dbo].[Enrollments]  WITH CHECK ADD  CONSTRAINT [FK_Enrollments_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Enrollments] CHECK CONSTRAINT [FK_Enrollments_Users_CreatorId]
GO
ALTER TABLE [dbo].[Instructors]  WITH CHECK ADD  CONSTRAINT [FK_Instructors_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Instructors] CHECK CONSTRAINT [FK_Instructors_Users_CreatorId]
GO
ALTER TABLE [dbo].[LectureMaterial]  WITH CHECK ADD  CONSTRAINT [FK_LectureMaterial_Lectures_LectureId] FOREIGN KEY([LectureId])
REFERENCES [dbo].[Lectures] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LectureMaterial] CHECK CONSTRAINT [FK_LectureMaterial_Lectures_LectureId]
GO
ALTER TABLE [dbo].[Lectures]  WITH CHECK ADD  CONSTRAINT [FK_Lectures_Sections_SectionId] FOREIGN KEY([SectionId])
REFERENCES [dbo].[Sections] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Lectures] CHECK CONSTRAINT [FK_Lectures_Sections_SectionId]
GO
ALTER TABLE [dbo].[McqChoices]  WITH CHECK ADD  CONSTRAINT [FK_McqChoices_McqQuestions_McqQuestionId] FOREIGN KEY([McqQuestionId])
REFERENCES [dbo].[McqQuestions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqChoices] CHECK CONSTRAINT [FK_McqChoices_McqQuestions_McqQuestionId]
GO
ALTER TABLE [dbo].[McqQuestions]  WITH CHECK ADD  CONSTRAINT [FK_McqQuestions_Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqQuestions] CHECK CONSTRAINT [FK_McqQuestions_Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[McqUserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_McqUserAnswer_McqChoices_MCQChoiceId] FOREIGN KEY([MCQChoiceId])
REFERENCES [dbo].[McqChoices] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[McqUserAnswer] CHECK CONSTRAINT [FK_McqUserAnswer_McqChoices_MCQChoiceId]
GO
ALTER TABLE [dbo].[McqUserAnswer]  WITH CHECK ADD  CONSTRAINT [FK_McqUserAnswer_Submissions_SubmissionId] FOREIGN KEY([SubmissionId])
REFERENCES [dbo].[Submissions] ([Id])
GO
ALTER TABLE [dbo].[McqUserAnswer] CHECK CONSTRAINT [FK_McqUserAnswer_Submissions_SubmissionId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_CreatorId]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users_ReceiverId]
GO
ALTER TABLE [dbo].[PrivateMessages]  WITH CHECK ADD FOREIGN KEY([conversation_id])
REFERENCES [dbo].[PrivateConversations] ([conversation_id])
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Articles_ArticleId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_ChatMessages_ChatMessageId] FOREIGN KEY([ChatMessageId])
REFERENCES [dbo].[ChatMessages] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_ChatMessages_ChatMessageId]
GO
ALTER TABLE [dbo].[Reactions]  WITH CHECK ADD  CONSTRAINT [FK_Reactions_Comments_CommentId] FOREIGN KEY([CommentId])
REFERENCES [dbo].[Comments] ([Id])
GO
ALTER TABLE [dbo].[Reactions] CHECK CONSTRAINT [FK_Reactions_Comments_CommentId]
GO
ALTER TABLE [dbo].[Sections]  WITH CHECK ADD  CONSTRAINT [FK_Sections_Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Sections] CHECK CONSTRAINT [FK_Sections_Courses_CourseId]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Assignments_AssignmentId] FOREIGN KEY([AssignmentId])
REFERENCES [dbo].[Assignments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Assignments_AssignmentId]
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD  CONSTRAINT [FK_Submissions_Users_CreatorId] FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Submissions] CHECK CONSTRAINT [FK_Submissions_Users_CreatorId]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Articles_ArticleId] FOREIGN KEY([ArticleId])
REFERENCES [dbo].[Articles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Articles_ArticleId]
GO
/****** Object:  StoredProcedure [dbo].[CleanupOldCheckouts]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CleanupOldCheckouts]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @DeletedCount INT
    
    DELETE FROM [dbo].[CartCheckout]
    WHERE [CreationTime] < DATEADD(DAY, -30, GETDATE())
        AND [Status] IN ('COMPLETED', 'FAILED')
    
    SET @DeletedCount = @@ROWCOUNT
    
    PRINT 'Cleaned up ' + CAST(@DeletedCount AS VARCHAR) + ' old checkout records'
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserCheckoutHistory]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetUserCheckoutHistory]
    @UserId UNIQUEIDENTIFIER,
    @Top INT = 10
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@Top)
        cc.[Id] AS CheckoutId,
        cc.[TotalAmount],
        cc.[PaymentMethod],
        cc.[Status],
        cc.[CreationTime],
        cc.[ProcessedTime],
        cc.[Notes],
        b.[Id] AS BillId,
        b.[TransactionId],
        b.[IsSuccessful]
    FROM [dbo].[CartCheckout] cc
    LEFT JOIN [dbo].[Bills] b ON cc.[UserId] = b.[CreatorId] 
        AND ABS(DATEDIFF(SECOND, cc.[CreationTime], b.[CreationTime])) <= 5
    WHERE cc.[UserId] = @UserId
    ORDER BY cc.[CreationTime] DESC
END
GO
/****** Object:  StoredProcedure [dbo].[ProcessCartCheckout]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Recreate với logic mới
CREATE PROCEDURE [dbo].[ProcessCartCheckout]
    @UserId UNIQUEIDENTIFIER,
    @CourseIds NVARCHAR(MAX), -- JSON format: ["courseId1", "courseId2"]
    @TotalAmount BIGINT,
    @PaymentMethod VARCHAR(50), -- Tăng length để chứa 'VNPay Online', 'VietQR Banking'
    @SessionId VARCHAR(100) = NULL,
    @BillId UNIQUEIDENTIFIER OUTPUT,
    @CheckoutId UNIQUEIDENTIFIER OUTPUT,
    @ResultMessage NVARCHAR(500) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @TransactionId VARCHAR(100)
    DECLARE @ClientTransactionId VARCHAR(100)
    DECLARE @Gateway VARCHAR(50) -- Tăng length
    DECLARE @Note NVARCHAR(255)
    DECLARE @ErrorMsg NVARCHAR(500)
    DECLARE @EnrollmentCount INT = 0
    DECLARE @SkippedCount INT = 0
    
    BEGIN TRY
        BEGIN TRANSACTION
        
        -- Tạo IDs
        SET @BillId = NEWID()
        SET @CheckoutId = NEWID()
        SET @TransactionId = 'EDU' + FORMAT(GETDATE(), 'yyyyMMddHHmmss') + RIGHT('000' + CAST(ABS(CHECKSUM(NEWID())) % 1000 AS VARCHAR), 3)
        SET @ClientTransactionId = @TransactionId
        
        -- Thiết lập thông tin theo payment method (DYNAMIC) - Gateway max 20 chars
        IF @PaymentMethod = 'COD'
        BEGIN
            SET @Gateway = 'COD'
            SET @Note = N'Thanh toán khi nhận hàng - Đơn hàng khóa học'
        END
        ELSE IF @PaymentMethod = 'VNPay Online'
        BEGIN
            SET @Gateway = 'VNPay'
            SET @Note = N'Thanh toán online qua VNPay Gateway - Đơn hàng khóa học'
        END
        ELSE IF @PaymentMethod = 'VietQR Banking'
        BEGIN
            SET @Gateway = 'VietQR'
            SET @Note = N'Thanh toán qua VietQR Banking - Đơn hàng khóa học'
        END
        ELSE
        BEGIN
            -- Default: Use payment method as gateway (limit 20 chars)
            SET @Gateway = LEFT(@PaymentMethod, 20)
            SET @Note = N'Thanh toán online - Đơn hàng khóa học'
        END
        
        -- Kiểm tra user tồn tại
        IF NOT EXISTS (SELECT 1 FROM [dbo].[Users] WHERE [Id] = @UserId)
        BEGIN
            SET @ErrorMsg = N'Người dùng không tồn tại'
            RAISERROR(@ErrorMsg, 16, 1)
            RETURN
        END
        
        -- Tạo record checkout
        INSERT INTO [dbo].[CartCheckout] (
            [Id], [UserId], [CourseIds], [TotalAmount], 
            [PaymentMethod], [Status], [SessionId], [Notes], [CreationTime]
        )
        VALUES (
            @CheckoutId, @UserId, @CourseIds, @TotalAmount, 
            @PaymentMethod, 'PROCESSING', @SessionId, @Note, GETDATE()
        )
        
        -- Tạo Bill chính với Gateway DYNAMIC
        INSERT INTO [dbo].[Bills] (
            [Id], [Action], [Note], [Amount], [Gateway],
            [TransactionId], [ClientTransactionId], [Token],
            [IsSuccessful], [CreationTime], [CreatorId]
        )
        VALUES (
            @BillId, 'Pay for course', @Note, @TotalAmount, @Gateway,
            @TransactionId, @ClientTransactionId, '1',
            1, GETDATE(), @UserId
        )
        
        -- Tạo Enrollments cho từng course
        DECLARE @CourseId UNIQUEIDENTIFIER
        DECLARE @CourseIdStr VARCHAR(36)
        DECLARE @CourseTitle NVARCHAR(255)
        
        -- Sử dụng cursor để xử lý từng course
        DECLARE course_cursor CURSOR FOR
        SELECT [value] 
        FROM OPENJSON(@CourseIds)
        
        OPEN course_cursor
        FETCH NEXT FROM course_cursor INTO @CourseIdStr
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                SET @CourseId = CAST(@CourseIdStr AS UNIQUEIDENTIFIER)
                
                -- Lấy title course
                SELECT @CourseTitle = [Title]
                FROM [dbo].[Courses]
                WHERE [Id] = @CourseId
                
                -- Kiểm tra đã enroll chưa
                IF NOT EXISTS (
                    SELECT 1 FROM [dbo].[Enrollments]
                    WHERE [CourseId] = @CourseId AND [CreatorId] = @UserId
                )
                BEGIN
                    -- Tạo enrollment với schema đúng
                    INSERT INTO [dbo].[Enrollments] (
                        [CreatorId], [CourseId], [BillId], [Status],
                        [CreationTime], [AssignmentMilestones], [LectureMilestones], [SectionMilestones]
                    )
                    VALUES (
                        @UserId, @CourseId, @BillId, N'In Progress',
                        GETDATE(), '{}', '{}', '{}'
                    )
                    
                    SET @EnrollmentCount = @EnrollmentCount + 1
                    
                    PRINT 'Enrolled: ' + @CourseTitle
                END
                ELSE
                BEGIN
                    SET @SkippedCount = @SkippedCount + 1
                    PRINT 'Already enrolled: ' + @CourseTitle
                END
            END TRY
            BEGIN CATCH
                PRINT 'Error enrolling course: ' + ERROR_MESSAGE()
                SET @SkippedCount = @SkippedCount + 1
            END CATCH
            
            FETCH NEXT FROM course_cursor INTO @CourseIdStr
        END
        
        CLOSE course_cursor
        DEALLOCATE course_cursor
        
        COMMIT TRANSACTION
        
        -- Return success message
        SET @ResultMessage = N'Checkout thành công. Bill ID: ' + CAST(@BillId AS VARCHAR(36)) + 
                           N', Enrollments: ' + CAST(@EnrollmentCount AS VARCHAR(10)) + 
                           N', Skipped: ' + CAST(@SkippedCount AS VARCHAR(10))
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION
            
        SET @ResultMessage = N'Lỗi: ' + ERROR_MESSAGE()
        RAISERROR(@ResultMessage, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ApproveCourse]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

CREATE PROCEDURE [dbo].[sp_ApproveCourse]
    @NotificationId UNIQUEIDENTIFIER,
    @ProcessedBy UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @CourseId UNIQUEIDENTIFIER;
        
        -- Láº¥y CourseId tá»« notification
        SELECT @CourseId = [CourseId]
        FROM [dbo].[CourseNotifications]
        WHERE [Id] = @NotificationId;
        
        IF @CourseId IS NOT NULL
        BEGIN
            -- Cáº­p nháº­t status cá»§a khÃ³a há»c thÃ nh 'Ongoing' (capital O) vÃ  ApprovalStatus = 'approved'
            UPDATE [dbo].[Courses]
            SET [Status] = 'Ongoing',
                [ApprovalStatus] = 'approved',
                [LastModificationTime] = GETDATE(),
                [LastModifierId] = @ProcessedBy
            WHERE [Id] = @CourseId;
            
            -- Cáº­p nháº­t notification status thÃ nh 'approved'
            UPDATE [dbo].[CourseNotifications]
            SET [Status] = 'approved',
                [ProcessedTime] = GETDATE(),
                [ProcessedBy] = @ProcessedBy
            WHERE [Id] = @NotificationId;
            
            COMMIT TRANSACTION;
            SELECT 1 AS Success, 'Course approved successfully' AS Message;
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS Success, 'Course not found' AS Message;
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPendingCourseNotifications]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetPendingCourseNotifications]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        cn.[Id],
        cn.[CourseId],
        cn.[InstructorId],
        cn.[InstructorName],
        cn.[CourseTitle],
        cn.[CoursePrice],
        cn.[NotificationType],
        cn.[Status],
        cn.[RejectionReason],
        cn.[CreationTime],
        cn.[ProcessedTime],
        cn.[ProcessedBy],
        c.[ThumbUrl],
        c.[Level],
        c.[Description]
    FROM [dbo].[CourseNotifications] cn
    INNER JOIN [dbo].[Courses] c ON cn.[CourseId] = c.[Id]
    WHERE cn.[Status] = 'pending'
    ORDER BY cn.[CreationTime] DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RejectCourse]    Script Date: 11/5/2025 9:08:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_RejectCourse]
    @NotificationId UNIQUEIDENTIFIER,
    @ProcessedBy UNIQUEIDENTIFIER,
    @RejectionReason NVARCHAR(1000)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @CourseId UNIQUEIDENTIFIER;
        DECLARE @InstructorId UNIQUEIDENTIFIER;
        
        -- Lấy CourseId và InstructorId từ notification
        SELECT @CourseId = [CourseId], @InstructorId = [InstructorId]
        FROM [dbo].[CourseNotifications]
        WHERE [Id] = @NotificationId;
        
        IF @CourseId IS NOT NULL
        BEGIN
            -- Cập nhật status của khóa học thành 'off' và ApprovalStatus = 'rejected'
            UPDATE [dbo].[Courses]
            SET [Status] = 'off',
                [ApprovalStatus] = 'rejected',
                [RejectionReason] = @RejectionReason,
                [LastModificationTime] = GETDATE(),
                [LastModifierId] = @ProcessedBy
            WHERE [Id] = @CourseId;
            
            -- Cập nhật notification status thành 'rejected'
            UPDATE [dbo].[CourseNotifications]
            SET [Status] = 'rejected',
                [RejectionReason] = @RejectionReason,
                [ProcessedTime] = GETDATE(),
                [ProcessedBy] = @ProcessedBy
            WHERE [Id] = @NotificationId;
            
            -- Tạo thông báo cho instructor về việc khóa học bị từ chối
            INSERT INTO [dbo].[Notifications] ([Id], [Message], [Type], [Status], [ReceiverId], [CreationTime], [CreatorId])
            VALUES (
                NEWID(),
                N'Khóa học của bạn đã bị từ chối. Lý do: ' + @RejectionReason,
                'course_rejected',
                'unread',
                @InstructorId,
                GETDATE(),
                @ProcessedBy
            );
            
            COMMIT TRANSACTION;
            SELECT 1 AS Success, 'Course rejected successfully' AS Message;
        END
        ELSE
        BEGIN
            ROLLBACK TRANSACTION;
            SELECT 0 AS Success, 'Course not found' AS Message;
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        SELECT 0 AS Success, ERROR_MESSAGE() AS Message;
    END CATCH
END
GO
