<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>DashBoardServlet</servlet-name>
        <servlet-class>controller.DashBoardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagementServlet</servlet-name>
        <servlet-class>controller.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdminServlet</servlet-name>
        <servlet-class>controller.CreateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationCourseServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportedCourseServlet</servlet-name>
        <servlet-class>controller.ReportedCourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashBoardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountManagementServlet</servlet-name>
        <url-pattern>/accountmanagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdminServlet</servlet-name>
        <url-pattern>/createadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationCourseServlet</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportedCourseServlet</servlet-name>
        <url-pattern>/reportedcourse</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>
</web-app>
