
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: url("../images/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.navbar {
    width: 100%;
    padding: 20px 60px;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 100;
}

.logo img {
    height: 60px;
    width: auto;
}

.btn-signin {
    padding: 8px 20px;
    background: #e91e63;
    color: #fff;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.btn-signin:hover {
    background: #e91e63;
    color: #fff;
}

/* Container chính */
.form-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.65);;   
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
}

.register-container header {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
} 

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px 45px 12px 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    font-size: 14px;
}

.input-box i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
}

/* Nút submit */
.submit {
    width: 100%;
    padding: 12px;
    background: #fff;
    color: #333;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    background: #e91e63;
    color: #fff;
}

.top {
    text-align: center;
    margin-top: 15px;
}

.top span {
    font-size: 14px;
}

.top a {
    color: #e91e63;
    text-decoration: none;
    font-weight: bold;
}

.top a:hover {
    text-decoration: underline;
}
