<?xml version="1.0" encoding="UTF-8"?>
<persistence version="3.0" xmlns="https://jakarta.ee/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/persistence https://jakarta.ee/xml/ns/persistence/persistence_3_0.xsd">
  <persistence-unit name="Adaptive_ElearningPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>model.CourseReviews</class>
    <class>model.Tag</class>
    <class>model.Submissions</class>
    <class>model.LectureMaterial</class>
    <class>model.Instructors</class>
    <class>model.Sections</class>
    <class>model.ConversationMembers</class>
    <class>model.Articles</class>
    <class>model.McqChoices</class>
    <class>model.Reactions</class>
    <class>model.Courses</class>
    <class>model.CommentMedia</class>
    <class>model.Sysdiagrams</class>
    <class>model.Bills</class>
    <class>model.Assignments</class>
    <class>model.Users</class>
    <class>model.Categories</class>
    <class>model.McqQuestions</class>
    <class>model.CourseMeta</class>
    <class>model.Conversations</class>
    <class>model.Notifications</class>
    <class>model.ChatMessages</class>
    <class>model.EFMigrationsHistory</class>
    <class>model.Lectures</class>
    <class>model.Enrollments</class>
    <class>model.Comments</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
  <!-- Ensure JDBC uses TLS settings compatible with local SQL Server instance -->
  <!-- Use explicit TCP port instead of named instance to avoid SQL Browser dependency -->
  <property name="jakarta.persistence.jdbc.url" value="jdbc:sqlserver://localhost:1433;databaseName=CourseHubDB;encrypt=true;trustServerCertificate=true;"/>
      <property name="jakarta.persistence.jdbc.user" value="sa"/>
      <property name="jakarta.persistence.jdbc.driver" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
      <property name="jakarta.persistence.jdbc.password" value="123456789"/>
      
      <!-- EclipseLink specific properties -->
      <property name="eclipselink.logging.level" value="INFO"/>
      <property name="eclipselink.logging.level.sql" value="FINE"/>
    </properties>
  </persistence-unit>
</persistence>
